<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CLAP" version="4.3" targetFramework="net45" developmentDependency="true" />
  <package id="FubuCore" version="1.0.0.225" targetFramework="net45" developmentDependency="true" />
  <package id="structuremap" version="2.6.4.1" targetFramework="net45" developmentDependency="true" />
</packages>