@model concord.RazorTemplates.Models.FancyResults

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Run Stats - Fancy!</title>
    </head>
    <body>
        <div>
              Total Runtime: @Model.TotalRuntime
        </div>
    </body>
</html>